.itemCatalogue{
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.itemImg{
    opacity: 0.8;
}
.itemImg:hover{
    opacity: 1;
}
.blabla{
    box-shadow: 1px 1px 4px 3px rgba(255 0 255);
}
.itemCatalogue:hover{
    background-color:white;
    color :black;
}

.btnDetail{
    border: 0;
    font-size: 0.9rem;
    padding: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.btnDetail:hover{
    box-shadow: 0 1px 2px 3px rgba(255 0 255);
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color:white
}