.detailItem{
    text-align: center;
    padding: 20px;
    font-family: 'Lilita One', cursive;
}
.detailContainerPrice{
    font-size:40px;
}
.detailContainer{
    margin: auto;
    width: 35rem;
    box-shadow: 1px 1px 4px 3px rgba(255 0 255);
}
.itemCount{
    height:200px;

}
.imgDetail{
    height: 350px;
}
.itemNameDetail{
    font-size: 40px;
}
.itemDescription{
    font-size: 20px;
}