.cardSubli{
    font-size: 30px;
    color: white;
  }
  .subliTitle{
    font-family: 'Nosifer', cursive;
   font-size: 30px;
  }
  .cartSubliCant{
    margin-left: 6px;
    width: 20px;
    height: 20px;
    background-color:red;
    color: white; 
    border-radius:60%;
    position:absolute;
    top: 20px;
    right: 5px;
    text-align: center;
    font-size:12px;
    font-weight: bold;
  }



